body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
h1 {
    text-align: center;
    margin-top: 32px;
}

table {
    width:40%;
    margin: 32px auto;
    border-collapse: collapse;
}
th, td {
    padding: 16px;
    text-align: center;
    border: 1px solid #000000;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
