body {
    font-family: Arial, sans-serif;
    background-color: #032329;
    color: #0B6E81;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    text-align: center;
    background-color: #0B6E81;
    padding: 32px;
    margin-bottom: 16px;
    color: #FFFFFF;
}

h1 {
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    margin-bottom: 16px;
}

.back-button, .add-button {
    width: 100px;
    background-color: #0B6E81;
    cursor: pointer;
    border: none;
    color: #f2f5f5;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 32px;
}

table, th, td {
    border: 1px solid #0B6E81;
    text-align: center;
}

th, td {
    padding: 8px;
}

thead {
    background-color: #0B6E81;
    color: #FFFFFF;
}

tbody tr:nth-child(odd) {
    background-color: #333333;
}

tbody tr:nth-child(even) {
    background-color: #222222;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f8f8f8;
    overflow-x: hidden;
    transition: all 0.3s;
}

#toggle-menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
}

.menu li a:hover {
    background-color: #ddd;
}
