body {
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    color: #2c3e50;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 120px;
    background-color: black;
    color: white;
    padding: 32px;
    border-right: 1px solid white;
}

.sidebar h1 {
    margin: 0 0 32px 0;
    font-size: 37px;
    text-align: left;
}

.sidebar nav {
    margin-bottom: 32px;
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
}

.sidebar .menu li a {
    display: block;
    padding: 16px;
    padding-left: 0px;
    text-decoration: none;
    color: #f2f5f5;
    transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out;
    font-size: 17px;
    text-align: left;
    border-radius: 10px;
}

.sidebar .menu li a:hover {
    color: #ddd;
    font-size: 19px;
}

.sidebar .menu-item {
    position: relative;
}

.sidebar .menu-item a::after {
    font-size: 13px;
    margin-left: 8px;
}

.sidebar .sub-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: black;
    min-width: 100%;
    list-style-type: none;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.sidebar .sub-menu li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.sidebar .menu-item:hover .sub-menu {
    display: block;
}

.sidebar .menu-item.has-arrow a::after {
    content: '▼';
}

.main {
    flex-grow: 1;
    padding: 20px;
    background-color: #F2F5F5;
    color: #2c3e50;
}

.main h2 {
    margin: 0 0 32px 0;
    font-size: 28px;
    padding-bottom: 10px;
    text-align: center;
}

.main table {
    width: 100%;
    margin-bottom: 32px;
    border-collapse: collapse;
}

.main th,
.main td {
    border: 1px solid #2c3e50;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.main th {
    background-color: black;
    color: #F2F5F5;
}

.main tbody tr:nth-child(even) {
    background-color: #ddd;
}

.main #addExerciseButton {
    background-color: black;
    color: #F2F5F5;
    border: none;
    padding: 10px;
    text-align: center;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 25px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 120px;
    top: 0;
    width: calc(100% - 120px);
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#saveButton {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: block;
    border-radius: 25px;
    margin-top: 5px;
    text-align: center;
}