
body {
    font-family: Arial, sans-serif;
    background-color: #032329;
    color: #0B6E81;
    margin: 0;
    padding: 0;
  }
  
  
  .container {
    display: flex;
    min-height: 100vh;
  }
  

  
  .sidebar {
    width: 100px; 
    background-color: #0B6E81;
    color: white;
    padding: 32px;
  }
  
  .sidebar h1 {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 36px;
    text-align: center;
  }
  
  .sidebar nav {
    margin-bottom: 32px;
  }
  
  .sidebar .menu {
    list-style-type: none; 
    padding: 0; 
  }
  
  .sidebar .menu li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #f2f5f5;
    transition: background-color 0.2s ease-in-out;
    font-size: 16px; 
    text-align: center; 
  }
  
  .sidebar .menu li a:hover {
    background-color: #0c7a97;
  }
  
  .sidebar .menu-item {
    position: relative;
  }
  
  .sidebar .menu-item a::after {
    font-size: 12px;
    margin-left: 8px;
  }
  
  .sidebar .sub-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #f8f8f8;
    min-width: 100%;
    list-style-type: none;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .sidebar .sub-menu li a {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #333;
    text-align: center; 
  }
  
  .sidebar .sub-menu li a:hover {
    background-color: #ddd;
  }
  
  .sidebar .menu-item:hover .sub-menu {
    display: block;
  }
  
  .sidebar .menu-item.has-arrow a::after {
    content: '▼';
  }
  
  
  .main {
    flex: 1;
    background-color: #f8f8f8;
    padding: 32px;
  }
  
  .main h1 {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 36px;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 32px;
  }
  
  table, th, td {
    border: 1px solid #0B6E81;
    text-align: center;
  }
  
  th, td {
    padding: 16px;
  }
  
  thead {
    background-color: #0B6E81;
    color: #FFFFFF;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #333333;
  }
  
  tbody tr:nth-child(even) {
    background-color: #222222;
  }
  
  .delete-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .delete-button:hover {
    background-color: #cc0000;
  }
  